<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>

<div>  
  <input [(ngModel)]="newItem.description" placeholder="Description" />
  <button (click)="addItem()">Add</button>
</div>

<div *ngFor="let item of Items">
  <div *ngIf="selectedItem && selectedItem.id === item.id">
    <input [(ngModel)]="selectedItem.description" placeholder="Description" />
    <button (click)="updateItem()">Update</button>
  </div>
  <div *ngIf="selectedItem?.id !== item.id">
    <span>{{ item.description }}</span>
    <button (click)="selectItem(item)">Edit</button>
    <button (click)="deleteItem(item.id)">Delete</button>
  </div>
</div>
